[Desktop Entry]
Name=RodTracker
Exec=/usr/local/RodTracker/RodTrackerApp
Icon=/usr/local/RodTracker/RodTracker/resources/icon.png
Terminal=false
Type=Application
