[Desktop Entry]
Name=RodTracker
Exec=/usr/local/RodTracker/RodTrackerApp
Icon=/usr/local/RodTracker/docs/_images/RodTrackerLogo_big.png
Terminal=false
Type=Application
